<div class="step">
<div class="login">
<form style="margin-top: 120px;background-color: white;height: 280px;" [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
    <mat-form-field appearance="fill" style="margin-top: 30px;">
        <mat-label>UserName</mat-label>
        <mat-icon matSuffix class="material-icon">username</mat-icon>
        <input matInput placeholder="Enter Username" formControlName = "username">
        <mat-error *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].hasError('required')">Enter valid username</mat-error>
  
    </mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Password" formControlName = "password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].hasError('required')"> Enter Valid Password</mat-error>
  </mat-form-field><br>
    <button mat-raised-button color="primary">Login</button>
    </form>
</div></div>