.head{
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
    margin-left: 60px;
    margin-right: 100px;
    height:150px;
    width: 1000px;
}