.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  input{
    margin: 10px;
  }
.form{
    text-align: center;
    border-radius: 2px;
    border: solid black;
    background-color: #ffffff73;
    width: 800px;
    height: 550px;
    margin-left: 200px;
   
   

}