<mat-progress-bar mode="determinate" value="60"></mat-progress-bar><br>
<mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
<mat-progress-bar mode="buffer"></mat-progress-bar><br>
<mat-progress-bar mode="query"></mat-progress-bar>
<h1>Welcome to Dashboard</h1>
<mat-chip-listbox aria-label="sports selection">
  
    <mat-chip-option>Cricket</mat-chip-option>
  
    <mat-chip-option>Dance</mat-chip-option>
  
    <mat-chip-option color="accent" selected>Chess</mat-chip-option>
  
    <mat-chip-option color="warn">Music</mat-chip-option>
  
  </mat-chip-listbox>
  <mat-list>
  
    <mat-list-item>Cricket</mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>Football</mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item>Chess</mat-list-item>
   <mat-divider></mat-divider>
   <mat-list-item>BasketBall</mat-list-item>
</mat-list>